<div class="container mt-4">
  <div class="row">
    <div class="col-lg-8">
      <div class="images">
        <ul class="images__list">
<!--          <li [ngClass]="i == 0 ? 'active': ''" class="images__item images__item{{i}}" *ngFor="let url of ulrImgs, index as i" (click)="changImg(i)">-->
<!--            <img src="{{url}}" class="images__img">-->
<!--          </li>-->
        </ul>
        <div class="show__image">
<!--          <img src="{{urlShow}}" alt="">-->
        </div>
      </div>
<!--      <div class="product__configuration" *ngIf="productDetailSelected && product">-->
        <p class="color__primary x-2">
          Cấu hình & đặc điểm
        </p>
        <div class="product__detail">
          <div class="product__propertie">
            <div class="product__propertie--title">
              <i class="fa-solid fa-laptop-code"></i>
              <span class="product__detail--title">Màn hình</span>
            </div>
<!--            <p>{{product.inch}}" inch - {{productDetailSelected.resolName}},-->
<!--              {{productDetailSelected.resolVal}} px,-->
<!--              {{productDetailSelected.display}}, 120 Hz, Ratio: {{productDetailSelected.ratio}}</p>-->
          </div>
          <div class="product__propertie">
            <div class="product__propertie--title">
              <i class="fa-solid fa-microchip"></i>
              <span class="product__detail--title">Vi xử lý (CPU)</span>
            </div>
<!--            <p>{{productDetailSelected.cpu}} - -->
<!--              {{productDetailSelected.qualityCoreCpu}} core,-->
<!--              {{productDetailSelected.qualityThreadCpu}} thread-->
<!--            </p>-->
          </div>
          <div class="product__propertie">
            <div class="product__propertie--title">
              <i class="fa-solid fa-microchip"></i>
              <span class="product__detail--title">Dồ Họa</span>
            </div>
<!--            <p>{{productDetailSelected.gpu}} - -->
<!--              {{productDetailSelected.qualityCoreGpu}} core-->
<!--            </p>-->
          </div>
          <div class="product__propertie">
            <div class="product__propertie--title">
              <i class="fa-solid fa-memory"></i>
              <span class="product__detail--title">Ram</span>
            </div>
<!--            <p>{{productDetailSelected.ram}} GB - Hãng không công bố thông số</p>-->
          </div>
          <div class="product__propertie">
            <div class="product__propertie--title">
              <i class="fa-solid fa-palette"></i>
              <span class="product__detail--title">Màu sắc</span>
            </div>
<!--            <p>{{productDetailSelected.color}}</p>-->
          </div>
          <div class="product__propertie">
            <div class="product__propertie--title">
              <i class="fa-solid fa-weight-hanging"></i>
              <span class="product__detail--title">Trọng lượng</span>
            </div>
<!--            <p>{{product.weight}} kg</p>-->
          </div>
          <div class="product__propertie">
            <div class="product__propertie--title">
              <i class="fa-solid fa-battery-full"></i>
              <span class="product__detail--title">Pin</span>
            </div>
            <p>Hoạt động liên tục 12h</p>
          </div>
          <div class="product__propertie">
            <div class="product__propertie--title">
              <i class="fa-solid fa-server"></i>
              <span class="product__detail--title">Dung lượng</span>
            </div>
<!--            <p>{{productDetailSelected.ssd}} SSD - {{productDetailSelected.hhd}} HDD</p>-->
          </div>
          <div class="product__propertie">
            <div class="product__propertie--title">
              <i class="fa-solid fa-fingerprint"></i>
              <span class="product__detail--title">Vân tay</span>
            </div>
            <p>Có</p>
          </div>

        </div>
        <div class="mt-4 mb-4">
          <p class="text-center color__primary view__detail">Xem cấu hình chi tiết <span><i
            class="fa-solid fa-angles-right"></i></span></p>
        </div>
        <div class="mt-4 mb-4">
          <p class="color__primary view__detail x-2">Mô tả sản phẩm</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class=" w-100">
        <div class="security--title security" style="padding: 4px">
          <i class="fa-solid fa-shield"></i>
          <span class="security--title">Bảo hành</span>
<!--          <p>Bảo hành <span class="color__primary">{{product?.warrantyMonth}}</span> tháng tại <span class="color__primary">Moki Tech</span></p>-->
          <p>Đổi mới trong <span class="color__primary">15</span> ngày đầu tiên</p>
        </div>

      </div>
      <div class="product__detail--name mb-2">
<!--        <p class="color__dark x-2">{{product?.name}}</p>-->
      </div>
      <div class="product__detail--config mb-4">
<!--        <div class="configurations" *ngIf="productDetailList">-->
<!--          <div class="configurations&#45;&#45;item" *ngFor="let productDetail of productDetailList, index as i">-->
<!--            <div class="configuration&#45;&#45;item configuration&#45;&#45;item{{i}}" (click)="changeProductDetailSelected(i, productDetail)" [ngClass]="i === 0 ? 'active' : ''">-->
<!--              <p class="text-right color__dark x-s text-under">{{product.price | number}} <sup>đ</sup> </p>-->
<!--              <p class=" color__primary x-m">{{product.price * (100-productDetail.discountVal)/100 | number}} <sup>đ</sup> </p>-->
              <p>
                <i class="fa-solid fa-circle"></i>
<!--                {{productDetail.cpu}}-->
              </p>
              <p>
                <i class="fa-solid fa-circle"></i>
<!--                {{productDetail.gpu}}-->
              </p>
              <p class="d-flex justify-content-between">
                <span>
                    <i class="fa-solid fa-circle"></i>
<!--                    Ram: {{productDetail.ram}} GB-->
                </span>
                <span>
                    <i class="fa-solid fa-circle"></i>
<!--                    Color: {{productDetail.color}}-->
                </span>

              </p>
              <p class="d-flex justify-content-between">
                <span>
                    <i class="fa-solid fa-circle"></i>
<!--                    SSD: {{productDetail.ssd}}-->
                </span>
                <span>
                    <i class="fa-solid fa-circle"></i>
<!--                    HDD: {{productDetail.hhd}}-->
                </span>

              </p>

            </div>
          </div>
        </div>
        <div class="w-100 d-flex justify-content-center">
<!--          <button class="product__pay" (click)="AddToCart()">Thêm vào giỏ hàng</button>-->
        </div>
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
