<header class="py-3">
  <div class="d-flex flex-wrap justify-content-between px-5">
    <div style="height: 75px">
      <img style="height: 75px; display: inline-block" src="assets/images/TP.jpg" alt="">
      <h1 class="mx-3 align-middle" style="display: inline-block">TECH PULSE</h1>
    </div>
    <ul class="nav" style="padding-top: 20px">
      <li class="nav-item"><a href="#" class="px-3 mx-1 btn btn-primary"><div style="margin-bottom: 2px">Login</div></a></li>
      <li class="nav-item"><a href="#" class="px-2 btn btn-outline-primary"><div style="margin-bottom: 2px">Sign up</div></a></li>
    </ul>
  </div>
</header>

<nav class="py-2 bg-light px-5" style="background-color: #8c8f8e">
  <div class="d-flex flex-wrap">
    <ul class="nav me-auto">
      <li class="nav-item"><a href="#" class="nav-link link-dark px-2 active" aria-current="page">Trang chủ</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link link-dark px-2 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Sản phẩm
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">PLC</a></li>
          <li><a class="dropdown-item" href="#">Màn hình</a></li>
        </ul>
      </li>
      <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Câu hỏi thường gặp</a></li>
      <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Giới thiệu về công ty</a></li>
    </ul>
    <form class="col-12 col-lg-auto mb-lg-0 w-25">
      <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
    </form>
  </div>
</nav>
