<div class="container my-5">
  <div class="row">
    <div class="col-md-5">
      <div class="main-img">
        <img class="img-fluid" src="../../../assets/images/plc1.jpg" alt="ProductS">
        <div class="row my-3 previews">
          <div class="col-md-3">
            <img class="w-100" src="../../../assets/images/plc2.jpg" alt="Sale">
          </div>
          <div class="col-md-3">
            <img class="w-100" src="../../../assets/images/plc2.jpg" alt="Sale">
          </div>
          <div class="col-md-3">
            <img class="w-100" src="../../../assets/images/plc2.jpg" alt="Sale">
          </div>
          <div class="col-md-3">
            <img class="w-100" src="../../../assets/images/plc2.jpg" alt="Sale">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="main-description px-2">
        <div class="category text-bold">
          Loại thiết bị: Controller
        </div>
        <div class="product-title text-bold my-3">
          PLC S7-1200 CPU 1215C, AC/DC/RELAY – 6ES7215
        </div>
        <div class="price-area my-4">
          <p class="old-price mb-1"><del>9,420,000 ₫</del> <span class="old-price-discount text-danger"> (Giảm 18%)</span></p>
          <p class="new-price text-bold mb-1">7,700,000 ₫</p>
          <p class="text-secondary mb-1">(Thuế bổ sung có thể được áp dụng khi thanh toán)</p>
        </div>
        <div class="buttons d-flex my-5">
          <div class="block">
            <a href="#" class="shadow btn custom-btn ">Lưu vào wish-list</a>
          </div>
          <div class="block">
            <button class="shadow btn custom-btn">Thêm vào giỏ hàng</button>
          </div>

          <div class="block quantity">
            <input type="number" class="form-control" id="cart_quantity" value="1" min="0" max="5" placeholder="Enter email" name="cart_quantity">
          </div>
        </div>
      </div>
      <div class="product-details my-4">
        <p class="details-title text-color mb-1">Thông số kỹ thuật</p>
        <p class="description">SIMATIC S7-1200, CPU 1215C, compact CPU, AC/DC/relay, 2 PROFINET ports, onboard I/O: 14 DI 24 V DC; 10 DO relay 2 A, 2 AI 0-10 V DC, 2 AO 0-20 mA DC, Power supply: AC 85-264 V AC at 47-63 Hz, Program/data memory 125 KB </p>
      </div>
      <div class="row questions bg-light p-3">
        <div class="col-md-1 icon">
          <i class="fa-brands fa-rocketchat questions-icon"></i>
        </div>
        <div class="col-md-11 text">
          Bạn thắc mắc về sản phẩm trên của hàng online của chúng tôi? <br>Hãy liên hệ với bộ phận chăm sóc khách hàng của chúng tôi thông qua
          SĐT: <strong>0905667889</strong> hoặc Email: <strong>info@techpulse-company.com.</strong>
        </div>
      </div>
      <div class="delivery my-4">
        <p class="font-weight-bold mb-0"><span><i class="fa-solid fa-truck"></i></span> <b> Giao hàng được thực hiện trong 3 ngày kể từ ngày mua</b> </p>
        <p class="text-secondary">Đặt hàng ngay để sớm nhận được sản phẩm</p>
      </div>
    </div>
  </div>
</div>

<div class="container similar-products my-4">
  <hr>
  <p class="display-5">Sản phẩm tương tự</p>
  <div class="row">
    <div class="col-md-3">
      <div class="similar-product">
        <img class="w-100" src="../../../assets/images/similar_product.png" alt="Preview">
        <p class="title">Module S7-1200 DIGITAL I/O SM 1223 16DI/16DO 6ES7223-1PL32-0XB0</p>
        <p class="price">3,730,000 ₫</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="similar-product">
        <img class="w-100" src="../../../assets/images/similar_product.png" alt="Preview">
        <p class="title">Module S7-1200 DIGITAL I/O SM 1223 16DI/16DO 6ES7223-1PL32-0XB0</p>
        <p class="price">3,730,000 ₫</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="similar-product">
        <img class="w-100" src="../../../assets/images/similar_product.png" alt="Preview">
        <p class="title">Module S7-1200 DIGITAL I/O SM 1223 16DI/16DO 6ES7223-1PL32-0XB0</p>
        <p class="price">3,730,000 ₫</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="similar-product">
        <img class="w-100" src="../../../assets/images/similar_product.png" alt="Preview">
        <p class="title">Module S7-1200 DIGITAL I/O SM 1223 16DI/16DO 6ES7223-1PL32-0XB0</p>
        <p class="price">3,730,000 ₫</p>
      </div>
    </div>
  </div>
</div>
